<!-- footer component -->

<footer>
  <div class="footer_header_box">
    <div class="flex_box">
      <p class="footer_text">개인정보 처리 방침</p>
      <p class="footer_sub_text">이용약관</p>
    </div>
    <div>
      <img src="assets/images/scroll_up.png" alt="scroll_up" class="scroll_up_image" />
    </div>
  </div>

  <div class="footer_bg">
    <div class="footer_logo_box">
      <img src="assets/images/footer_logo.png" alt="footer_logo" class="footer_logo" />
    </div>

    <div class="footer_flex_box">
      <p class="info_subtitle">주소 &nbsp;</p>
      <p class="info_desc">서울특별시 종로구 인사동 7길 12,백상빌딩 10층</p>
    </div>
    <div class="footer_flex_box">
      <p class="info_subtitle">상담문의 &nbsp;</p>
      <p class="info_desc">자원순환보증금관리센터 <b>1522-0082</b></p>
    </div>
    <div class="footer_flex_box">
      <p class="info_subtitle">상담시간 &nbsp;</p>
      <p class="info_desc"><b>09:00~18:00</b> (월~금) 점심시간 12:00~ 13:00</p>
    </div>
    <div class="footer_flex_box">
      <p class="info_subtitle">개인정보관리책임자 &nbsp;</p>
      <p class="info_desc">홍길동</p>
    </div>

    <div class="footer_image_set">
      <p>환경부 이미지</p>
      <p>서울특별시 이미지</p>
      <p>etc...</p>
    </div>

    <div class="footer_reserved_box">
      <p class="footer_reserved_text">© 서울시 일회용컵 회수 · 보상 시범사업. All Rights Reserved.</p>
    </div>
  </div>
</footer>
